	hr{
		all:none;  
	}
	html, body{ 
		overflow-x: hidden;
	}
	h3{
		color:#5371ad;
	}
	.padimg{
		padding:15px; 
		width:120px;
	}
	.conpad{
		padding-top:15px;
		padding-bottom:15px;  
	}
	
	.recomended{
		margin:auto;
		padding:15px;
		height:100px;  
		width:auto;
	}
	
	btn-default{
		background-color:#C01313!important;  
	}
	
	btn-default:hover{
		background-color:#A31010!important
	}	
	
	.roundInfoGraph{
		height:120px;
		width:120px;
		border:1px solid #999999;
		display:inline-block;
		border-radius:60px; 
		margin:10px; 
	}
	
	.roundInfoGraph>h3{
		margin-top:35px; 
	}
	
	p.Info{
		font-size:18px;  
	}
	ul,p{
		font-size:15px!important;	
	}
    
    p>a{
        font-size:15px!important;	
    }