body html{
    overflow-x: hidden!important;
}
.pmiBlack{
    background-color:#414549;
    height:20px;
}
.pmiBlue{
    background-color:#5371ad;
    height:20px;
}
.pmiGreen{
    background-color:#0ca24b;
    height:20px;
}
.pmiRed{
    background-color:#c01313;
    height:20px;	
}

.ProdCont{
    background-color:white;
    min-height:350px;
    max-height:350px;
}

.prodContent{
    padding:15px;
}

.imgSize{
    height:75px;
    width:75px;
    border-radius:100px;
}

.imgPlacement{
    position:relative;
    top:-40px;	
}

.imgContainer{
    height:40px;	
}

.prodPadding{
    padding:50px;
}

.text{
    height:160px;
}

.headerSize{
    height: 55px;
}

h1,h2,h3,h4,h5{
    font-weight:none;	
    color:#5371ad;
}

p.MainFont a{
    color:white;
}

.img-fluid{
    width:100%;
    height:auto;	
}

.Cart-Container{
    background-color:white;	
    padding: 15px 30px;
}

.CartNav{
    background-color:white;	
    padding: 15px 30px;
}
.CartNav p {
display:inline;	
font-size:20px;
}

td{
    padding:10px!important;
}
h1,h2,h3,h4,h5,h6{
    color:#5371ad;
}
h1{
    font-size: 28px;
}
.cartNavText{
    font-size:20px; 
    vertical-align:middle;
    margin-top:-9px;
}
.active{
    opacity:1;	
}
.inactive{
    opacity:.3;
}

.footiem{
    color:  #dcddde;
}
.background-img-blank{
    height: 58px;
    background: url('../../images/BlankBanner.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.banner-text{
    margin-top: 10px;
    color: white;
    font-size: 32px;
}
article>p>a{
    font-size: 15px;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

hr{
    all:none;  
}
.padimg{
    padding:15px; 
    width:120px;
}
.conpad{
    padding-top:15px;
    padding-bottom:15px;  
}

.recomended{
    margin:auto;
    padding:15px;
    height:120px;  
    width:auto;
    border-radius:200px;
}

btn-default{
    background-color:#C01313!important;  
}

btn-default:hover{
    background-color:#A31010!important
}	

.roundInfoGraph{
    height:120px;
    width:120px;
    border:1px solid #999999;
    display:inline-block;
    border-radius:60px; 
    margin:10px; 
}

.roundInfoGraph>h3{
    margin-top:35px; 
}
p.Info{
    font-size:18px;  
}
ul,p{
    font-size:15px!important;	
}

p>a{
    font-size:15px!important;	
}


.background-img-blank{
    height: 58px;
    background: url('../../assets/images/BlankBanner.png');
background-repeat: no-repeat;
background-position: center center;
}
.banner-text{
    margin-top: 10px;
    color: white;
    font-size: 32px;
}