 body{
    overflow-x:hidden;   
 }
 .login {
 	background-image: url('../images/bg.jpg');
 	background-size: cover;
 	background-repeat: no-repeat;
 }
 .container {
 	padding: 5px;
 }
 img {
 	border: 0px;
 }
 .question_container {
 	padding: 4px;
 	min-height: 150px;
 	overflow-y: auto;
 }
 .option_container {
 	padding: 4px;
 	height: 35%;
 	overflow-y: auto;
 }
 .op {
 	padding: 4px;
 }
 .question_div {
 	display: none;
 	border-top: 1px solid #dddddd;
 }
 .footer_buttons {
 	position: fixed;
 	bottom: 0px;
 	background: #ffffff;
 	width: 100%;
 	height: 80px;
 	padding: 4px;
 }
 .qbtn {
 	cursor: pointer;
 	width: 40px;
 	height: 30px;
 	border-radius: 5px;
 	background-color: #414549;
 	color: #ffffff;
 	float: left;
 	font-size: 15px;
 	padding: 4px;
 	text-align: center;
 	margin: 5px;
 }
 .save_answer_signal {
 	float: right;
 	width: 6px;
 	height: 6px;
 	border-radius: 2px;
 	background-color: #666666;
 	margin: 2px;
 }
 #photograph {
 	width: 150px;
 	height: 150px;
 }
 /* liveclassroom */
 
 .arrow_box {
 	position: relative;
 	background: #d50f29;
 	border: 0px solid #f5e131;
 	border-radius: 3px;
 }
 .arrow_box:after, .arrow_box:before {
 	bottom: 100%;
 	left: 7%;
 	border: solid transparent;
 	content: " ";
 	height: 0;
 	width: 0;
 	position: absolute;
 	pointer-events: none;
 }
 .arrow_box:after {
 	border-color: rgba(213, 15, 41, 0);
 	border-bottom-color: #d50f29;
 	border-width: 10px;
 	margin-left: -5px;
 }
 .class_text_board {
 	width: 650px;
 	height: 500px;
 	float: left;
 }
 .class_comment_board {
 	width: 300px;
 	height: 470px;
 	border-radius: 10px;
 	float: right;
 	padding: 5px;
 	border: 1px groove #eee;
 }
 #comment_box {
 	width: 290px;
 	height: 400px;
 	overflow-y: scroll;
 	padding: 5px;
 }
 #username_comment {
 	color: #666666;
 	font-size: 11px;
 }
 #comment_send {
 	background: white;
 	border: 1px solid #DDD;
 	border-radius: 5px;
 	box-shadow: 0 0 5px #DDD inset;
 	color: #666;
 	outline: none;
 	height: 25px;
 	width: 275px;
 }
 .class_heading {
 	width: 650px;
 	height: 35px;
 	background: #212121;
 	font-size: 14px;
 	color: #ffffff;
 	padding: 5px 25px 0px;
 	border-radius: 8px 8px 0px 0px;
 }
 #page::after {
 	content: ' ';
 	position: absolute;
 	width: 0px;
 	height: 100%;
 	top: 0;
 	left: 20px;
 	border-left: 1px solid #F8D3D3;
 }
 #page {
 	width: 650px;
 	height: 400px;
 	overflow-y: scroll;
 	line-height: 30px;
 	font-size: 14px;
 	padding: 5px 25px 27px;
 	position: relative;
 	outline: none;
 	background: white;
 	background: -webkit-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
 	background: -moz-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px;
 	background: linear-gradient(center top, #dfe8ec 0%, #ffffff 8%) 0 0px;
 	-webkit-background-size: 100% 30px;
 	-moz-background-size: 100% 30px;
 	-ms-background-size: 100% 30px;
 	background-size: 100% 30px;
 }
 #page_res {
 	float: right;
 	color: #666666;
 	font-size: 12px;
 }
 .div_exp_corr {
 	background: #E0FFE0;
 	display: none;
 }
 .div_exp_wrong {
 	background: #FF9D9D;
 	display: none;
 }
 #stat_box {
 	width: 210px;
 	height: 100px;
 	border: 0px solid #dddddd;
 	float: left;
 	margin-left: 20px;
 }
 #stat_head {
 	width: 210px;
 	height: 30px;
 	background: #ec5c0d;
 	font-family: arial;
 	font-size: 16px;
 	color: #ffffff;
 	text-align: center;
 	padding: 4px 0px 0px 0px;
 	border-radius: 4px 4px 0px 0px;
 }
 #stat_val {
 	width: 210px;
 	height: 66px;
 	background: #eeeeee;
 	font-family: arial;
 	font-size: 40px;
 	color: #212121;
 	text-align: center;
 	padding: 4px 0px 0px 0px;
 	border-radius: 0px 0px 4px 4px;
 }
 .op_style {
 	background: #eeeeee;
 	padding: 4px;
 	margin: 5px;
 	border: 1px solid #dddddd;
 }
 .font-size-34 {
 	font-size: 34px !important;
 }
 .font-weight-light {
 	font-weight: 300 !important;
 }
 strong {
 	font-weight: 700;
 	color: #666666;
 }
 .revenuew {
 	background-color: #F5FBFC;
 	margin: 5px;
 	padding: 5px;
 }
 .navbar-default .navbar-brand {
 	color: #ffffff;
 }
 .navbar-default {
 	background-color: #FFFFFF;
 	border-color: #ffffff;
    border-bottom: 1px #e6e6e6 solid;
 }
 .navbar-default .navbar-nav>li>a {
 	color: #5371ad;
 	font-family: "Libre Franklin";
 	font-size: 18px;
 }
 .navbar-default .navbar-nav>li>a:hover {
 	color: #5371ad;
 	font-family: "Libre Franklin";
 	font-size: 18px;
    background-color: #E4E4E4;
 }
 .panel, .widget-more-link.b-a-1, .widget-products-image, :not(.panel) .thumbnail {
 	border-color: #E0E0E0;
    margin-top:30px;
 }
 .panel-heading {
 	position: relative;
 	border-bottom: 1px solid #E2E2E2;
 	background: none repeat scroll 0% 0% #FAFAFA;
 }
 .page-signin-modal {
 	position: relative;
 	top: auto;
 	right: auto;
 	bottom: auto;
 	left: auto;
 	z-index: 1;
 	display: block;
 }
 .page-signin-form-group {
 	position: relative;
 }
 .page-signin-icon {
 	position: absolute;
 	line-height: 21px;
 	width: 36px;
 	border-color: rgba(0, 0, 0, .14);
 	border-right-width: 1px;
 	border-right-style: solid;
 	left: 1px;
 	top: 15px;
 	text-align: center;
 	font-size: 15px;
 }
 html[dir="rtl"] .page-signin-icon {
 	border-right: 0;
 	border-left-width: 1px;
 	border-left-style: solid;
 	left: auto;
 	right: 1px;
 }
 html:not([dir="rtl"]) .page-signin-icon+.page-signin-form-control {
 	padding-left: 50px;
 }
 html[dir="rtl"] .page-signin-icon+.page-signin-form-control {
 	padding-right: 50px;
 }
 #page-signin-forgot-form {
 	display: none;
 }
 /* Margins */
 
 .page-signin-modal>.modal-dialog {
 	margin: 30px 10px;
 }
 @media (min-width: 544px) {
 	.page-signin-modal>.modal-dialog {
 		margin: 60px auto;
 	}
 }
 
 .btn-success {
  color: #fff;
  background-color: #0ca24b;
  border-color: #0ca24b;
}

.btn-info {
  color: #fff;
  background-color: #5371ad;
  border-color: #5371ad;
}

.btn-danger {
  color: #fff;
  background-color: #c01313;
  border-color: #c01313;
}