<nav>
    <ul class="list-group">
        <a href="custclasses.php"><li class="list-group-item">Current Content</li></a>
        <a href="archive.php"><li class="list-group-item">Archived Content</li></a>
        <a href="editaccount.php"><li class="list-group-item">Edit Account</li></a>
        <a href="contactus.php"><li class="list-group-item">Contact Us</li></a>
        <a href="../scripts/logout.php"><li class="list-group-item">Log Out</li></a>
    </ul>
</nav>