body html{
	overflow-x: hidden!important;
	font-family: "Arial", sans-serif!important;	
}
.pmiBlack{
	background-color:#414549;
	height:20px;
}
.pmiBlue{
	background-color:#5371ad;
	height:20px;
}
.pmiGreen{
	background-color:#0ca24b;
	height:20px;
}
.pmiRed{
	background-color:#c01313;
	height:20px;	
}

.ProdCont{
	background-color:white;
	min-height:350px;
	max-height:350px;
}

.prodContent{
	padding:15px;
}

.imgSize{
	height:75px;
	width:75px;
	border-radius:100px;
}

.imgPlacement{
	position:relative;
	top:-40px;	
}

.imgContainer{
	height:40px;	
}

.prodPadding{
	padding:50px;
}

.text{
	height:160px;
}

.headerSize{
	height: 55px;
}

h1,h2,h3,h4,h5{
	font-weight:none;	
}

p.MainFont a{
	color:white;
}

.img-fluid{
	width:100%;
	height:auto;	
}

.Cart-Container{
	background-color:white;	
	padding: 15px 30px;
}

.CartNav{
	background-color:white;	
	padding: 15px 30px;
}
.CartNav p {
	display:inline;	
	font-size:20px;
}

td{
	padding:10px!important;
}
h1,h2,h3,h4,h5,h6{
	color:#999999;
}

.cartNavText{
	font-size:20px; 
	vertical-align:middle;
	margin-top:-9px;
}
.active{
	opacity:1;	
}
.inactive{
	opacity:.3;
}

.footiem{
    color:  #dcddde;
}